* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
  width: 100vw;
  font-weight: 500;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/* Typography */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5;
}

/* Layout */

.wrapper {
  padding: 0 1em;
}

.top-section {
  background-color: #151515;
  text-align: center;
  position: relative;
}

.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.25em;
  padding: 1.25rem 0;
  position: relative;
  z-index: 1;
}

.logo {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.hero {
  padding-block-start: 17.5em;
}

.profile-picture {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-width: 175px;
}

h1 span {
  border-bottom: 4px solid #4ee1a0;
}

.hero .content {
  display: grid;
  gap: 1.5em;
}

.hero p {
  color: #d9d9d9;
}

.contact-link {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.3px;
  cursor: pointer;
  padding-block-end: 0.625em;
  border-bottom: 2px solid #4ee1a0;
  display: inline-block;
  max-width: 150px;
  margin: 0 auto;
}

.skills {
  margin: 5em 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 2.5em 1em;
  display: grid;
  gap: 1.5em;
}

.skills p {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.skills span {
  color: #d9d9d9;
}

.projects {
  padding-block-end: 5em;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5em;
}

.projects-header .contact-link {
  margin: 0;
}

.projects-grid {
  display: grid;
  gap: 2.5em;
}

.project-description {
  text-align: start;
  margin-block-start: 1.25em;
}

.project-description h3 {
  text-transform: uppercase;
  margin-block-end: 0.5em;
}

.project-description span {
  text-transform: uppercase;
  margin-inline-end: 1em;
  color: #d9d9d9;
}
